# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcscmblueprint

# Workspace user data
CryptoTracker.xcodeproj/xcuserdata/
CryptoTracker.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store
